{% extends "base.html" %}
{% block title %} tamako {% endblock %}
{% block head +%}
<script>
    const whisper = () => {
        let name = document.getElementById("name").value;
        let message = document.getElementById("message").value;
        let private = document.getElementById("private").checked;
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/api/whisper", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify({
            name,
            message,
            private
        }));
        xhr.onload = () => {
            if (xhr.status == 201) {
                notyf.success("whisper sent");
                setInterval(() => {
                    window.location.reload();
                }, 2100);
            } else {
                notyf.error(xhr.responseText);
            }
        };
    };
</script>
{% endblock %}

{% block body %}
<section id="whisper">
    <h4>whisper</h4>
    <div>
        <input type="text" id="name" placeholder="name (optional)" size="30" maxlength="32" />
    </div>
    <div>
        <input type="text" id="message" placeholder="whisper" size="30" maxlength="1024" required />
    </div>
    <div>
        <label for="private">
            <input type="checkbox" id="private" />
            private
        </label>
    </div>
    <button onclick="whisper()">send</button>
</section>

<br />
<hr />
<br />

<section id="whispers">
    <ul>
        {% for whisper in whispers %}
            {% let name = whisper.name.clone().unwrap_or("anon".to_owned()) %}
            {% let message = whisper.message.clone() %}

            {% if whisper.private %}
                <li class="private"><b>{{name~}}</b>: {{~message}}</li>
            {% else %}
                <li><b>{{name~}}</b>: {{~message}}</li>
            {% endif %}
        {% endfor %}
    </ul>
</section>

<div id="mascot" onclick="window.location.href='/auth'">
    <img src="/assets/tamako_smol.png" alt="tamako mascot" />
</div>
{% endblock %}