.App {
	text-align: center;
}

.input-text {
	background-color: var(--secondary);
	border-radius: 0.3rem;
	border: 1px solid var(--tertiary);
	padding: 0.75em;
	min-width: 13rem;
	width: 15vw;
	margin-bottom: 0.8em;

	&:focus {
		outline: none;
		border-color: var(--accent);
	}
}

.whisper-container {
	display: grid;
	justify-content: center;
}

button {
	background-color: var(--accent);
	color: var(--text);
	border-radius: 0.3rem;
	outline: none;
	border: unset;
	padding: 0.75em 1.2em;
	cursor: pointer;
}

.accent {
	color: var(--accent);
}

h1 {
	margin: unset;
	margin-bottom: 0.2em;
}

li {
	margin-bottom: 0.2em;
	text-align: left;

	&::marker {
		content: "~";
		// font-family: "Iosevka Comfy";
		color: var(--accent);
	}
}

.timestamp {
	color: var(--highlight);
	font-size: 0.75rem;
}
