.App {
	text-align: center;
	// <div class="bg-primary min-h-screen text-center font-iosevka selection:bg-accent selection:text-white box-border flex-nowrap">
}

/*
.header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
*/
input.text {
	background-color: var(--secondary);
	border-radius: 0.3rem;
	border: 1px solid var(--tertiary);
	padding: 0.75em;
	min-width: 13rem;
	width: 15vw;
	// width: 16rem;
	margin-bottom: 0.8em;

	&:focus {
		outline: none;
		border-color: var(--accent);
	}
}

.checkbox {
	// position: relative;
	text-align: left;
	vertical-align: bottom;
	margin-bottom: 0.5em;
	// display: table-cell;
	font-size: 0.9em;
	// scale: 0.9;
	// justify-content: left;
	input {
		// color: var(--accent);
		// position: absolute;
		// top: 0;
		// left: 0;
		height: 25px;
		width: 25px;
		border: 2px solid var(--tertiary);
		fill: var(--secondary) !important;
	}
}

.whisper {
	display: grid;
	// flex-wrap: nowrap;
	// grid-column: 2;
	// gap: 0.5em;
	// grid-gap: 5px;
	// grid-auto-flow: row;
	// width: 100%;
	// grid-template-columns: 100px 100px;
	justify-content: center;
}

button {
	// margin-top: 1em;
	background-color: var(--accent);
	color: var(--text);
	border-radius: 0.3rem;
	outline: none;
	border: unset;
	padding: 0.75em 1.2em;
	cursor: pointer;
	// float: right;
	// justify-content: right;
}

.accent {
	color: var(--accent);
}

h1 {
	margin: unset;
	margin-bottom: 0.2em;
}

li {
	margin-bottom: 0.2em;
	text-align: left;

	&::marker {
		content: "~ ";
		color: var(--accent);
	}
}

.timestamp {
	color: var(--highlight);
	font-size: 0.75rem;
}

/* Customize the label (the container) */
.container {
	display: block;
	position: relative;
	padding-left: 1.5em;
	// margin-bottom: 12px;
	cursor: pointer;
	user-select: none;
	text-align: left;
	vertical-align: bottom;
	margin-bottom: 0.5em;
	// display: table-cell;
	font-size: 0.9em;

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	.checkmark:after {
		left: 0.35em;
		top: 0.2em;
		width: 0.2em;
		height: 0.4em;
		border: solid var(--text);
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	// &:hover input ~ .checkmark {
	// 	background-color: var(--tertiary);
	// }

	input:checked ~ .checkmark {
		background-color: var(--accent);
	}

	input:checked ~ .checkmark:after {
		display: block;
	}
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0.25em;
	left: 0;
	height: 1rem;
	width: 1rem;
	border-radius: 0.2rem;
	background-color: var(--secondary);

	&:after {
		content: "";
		position: absolute;
		display: none;
	}
}

// /* On mouse-over, add a grey background color */
// .container:hover input ~ .checkmark {
// 	background-color: #ccc;
// }

// /* When the checkbox is checked, add a blue background */
// .container input:checked ~ .checkmark {
// 	background-color: #2196f3;
// }

/* Create the checkmark/indicator (hidden when not checked) */
// .checkmark

/* Show the checkmark when checked */
// .container

/* Style the checkmark/indicator */
// .container .checkmark:after {
// 	left: 9px;
// 	top: 5px;
// 	width: 5px;
// 	height: 10px;
// 	border: solid white;
// 	border-width: 0 3px 3px 0;
// 	-webkit-transform: rotate(45deg);
// 	-ms-transform: rotate(45deg);
// 	transform: rotate(45deg);
// }
