@import url("https://x6r.github.io/addons/fonts.css");

:root {
	--primary: #302838;
	--secondary: #2a2331;
	--tertiary: #231d29;
	--accent: #e23a7e;
	--text: #dedbeb;

	--font: "Iosevka Comfy", "Iosevka Comfy Web", "Iosevka", "Arabic UI Display";
}

* {
	font-family: var(--font);

	&::selection {
		background: var(--accent);
		color: var(--text);
	}
}

html,
body {
	background-color: var(--primary);
	color: var(--text);

	font-size: 16px;
	line-height: 1.8;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	margin: 0;
	width: 100%;
	height: 100%;
}
